body {
    margin: 0;
    padding: 0;
    background: #000;
}


.slider {
    width: 100vw;
    height: 100vh;
    background: url(imgs/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // animation: slide 20s infinite;
    z-index: ;
}


@keyframes slide {
    25% {
        background: url(imgs/1.jpg);
    background-size: cover;

    background-size: cover;

    }

    50% {
        background: url(imgs/2.jpg);
    background-size: cover;

    }

    75% {
        background: url(imgs/3.jpg);
    background-size: cover;

    }

    100% {
        background: url(imgs/4.jpg);
    background-size: cover;

    }
}